extends layouts/main
include mixins/videoBlock

block content 
    .search__header 
        h3 Searching for: #{searchingBy}
    .search__videos
        each video in videos 
            <!--mixin함수 호출 및 함수내부 변수 정의-->
            +videoBlock({
                videoFile: video.videoFile,
                title:video.title,
                views:video.views
            })